@page
@model WebAppQuitanda.Pages.AdminModel
@{

    ViewData["title"] = "área Administrativa";
    Layout = "_Template";
}

<main class="container m-3">
    <div class="row justify-content-md-center">
        <div class="col-md-12 text-center mt-3">
            <h1>@ViewData["title"]</h1>
            <p>
                Esta é uma párea administrativa;
            </p>
        </div>
    </div>
</main>
